includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    bootstrapFiles:
        - vendor/larastan/larastan/bootstrap.php
    paths:
        - src
    level: 8

    ignoreErrors:
        - '#Strict comparison using [=\!]== between .+@OA\\\\Generator:.+ will always evaluate to [true|false]#'
        - '#Parameter \#1 \$objectOrClass of class Reflection.+ constructor expects .+ string given#'
        - '#with generic class Reflection[a-zA-Z]+ but does not specify its types: T#'
        - '#with generic class Reflection[a-zA-Z]+ does not specify its types: T#'